In [2]:
import pandas as pd
df = pd.read_csv("C:/Users/Jeste/Desktop/Data Science/base_datos_2008.csv/base_datos_2008.csv", nrows=1e6)

In [3]:
#Con esta acción duplicaré el dataframe inicial
dfDuplicate = df.append(df)

In [4]:
#Con esta acción reordenamos el dataframe sample(frac = 1)
dfDuplicate = dfDuplicate.sample(frac=1)

In [6]:
#Guardamos el nuevo dataframe dropeando los duplicados en un df llamado dfclean
dfclean = dfDuplicate.drop_duplicates()

In [7]:
#Como podemos ver el df clean es diferente del df inicial, esto debido a que en el inicial, 
#habian 4 datos que si estaban repetidos
len(dfclean) == len(df)

False

In [8]:
#Con esto comprobamos la longitud del df
len(dfclean)

999996

In [10]:
#Con esta acción aplicaremos una eliminación de duplicados por los días del mes para hacer
#Un nuevo dataset, y de esta manera obtenemos un dataset solo con 31 dias del mes.
dfclean.drop_duplicates(subset = "DayofMonth")

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
379039,2008,1,21,1,1750.0,1755,1824.0,1832,HA,553,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
551084,2008,1,9,3,1638.0,1640,2034.0,2000,B6,357,...,2.0,59.0,0,NaN,0,0.0,0.0,34.0,0.0,0.0
332176,2008,1,11,5,2039.0,2035,2111.0,2042,EV,4452,...,3.0,56.0,0,NaN,0,0.0,0.0,29.0,0.0,0.0
248308,2008,1,13,7,1018.0,1023,1242.0,1245,UA,1198,...,3.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
801316,2008,2,24,7,1933.0,1935,2224.0,2235,OO,2558,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
587702,2008,1,3,4,831.0,830,1120.0,1131,CO,1592,...,5.0,39.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
757142,2008,2,16,6,640.0,630,810.0,816,OH,5458,...,12.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
422348,2008,1,25,5,1524.0,1529,1713.0,1735,MQ,4901,...,6.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
914714,2008,2,23,6,2117.0,2115,2245.0,2300,EV,4330,...,4.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
415498,2008,1,7,1,930.0,915,1153.0,1105,MQ,4507,...,7.0,37.0,0,NaN,0,0.0,0.0,34.0,0.0,14.0
35138,2008,1,14,1,1504.0,1505,1702.0,1735,WN,2537,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
474912,2008,1,27,7,1945.0,1655,2056.0,1751,9E,5907,...,6.0,42.0,0,NaN,0,0.0,0.0,15.0,0.0,170.0
397336,2008,1,5,6,1049.0,1055,1306.0,1335,MQ,3802,...,6.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
329857,2008,1,15,2,1500.0,1500,1659.0,1719,EV,4375,...,5.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
90484,2008,1,30,3,1353.0,1355,1501.0,1505,WN,2208,...,2.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
931757,2008,2,1,5,2057.0,2058,2333.0,2330,F9,822,...,5.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
958311,2008,2,28,4,1239.0,1241,1505.0,1451,FL,228,...,8.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
481981,2008,1,20,7,1257.0,1300,1742.0,1805,AA,352,...,14.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
709785,2008,2,12,2,638.0,640,823.0,815,XE,2570,...,8.0,23.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
747198,2008,2,29,5,2155.0,2200,2235.0,2240,YV,1030,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
475022,2008,1,19,6,1922.0,1920,2202.0,2157,9E,5910,...,4.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
24955,2008,1,10,4,921.0,925,1054.0,1105,WN,530,...,5.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
513398,2008,1,8,2,1702.0,1705,1854.0,1905,AA,1646,...,3.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
522150,2008,1,31,4,1607.0,1420,2124.0,1925,AA,2012,...,37.0,12.0,0,NaN,0,0.0,0.0,12.0,0.0,107.0
855098,2008,2,6,3,823.0,824,834.0,847,US,180,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
288717,2008,1,26,6,740.0,745,1037.0,1100,US,540,...,7.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
657337,2008,2,18,1,1956.0,1955,2351.0,5,WN,1747,...,4.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
300832,2008,1,2,3,1231.0,1220,1317.0,1325,WN,2976,...,5.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
571505,2008,1,22,2,1749.0,1750,1908.0,1903,CO,5,...,4.0,33.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
894041,2008,2,17,7,742.0,745,1027.0,1047,DL,1741,...,6.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
385278,2008,1,4,5,1947.0,1950,2045.0,2057,MQ,3285,...,4.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [11]:
#Con esta función eliminamos del dataframe todos aquellas filas que tienen al menos un NaN
df.dropna()

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]

In [12]:
#pero le podemos aplicar un treshold para que mantengan filas con al menos 25 NaN
df.dropna(thresh = 25)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

In [13]:
#De la misma forma podemos hacer que mantengan un treshold de la longitud de columnas - 2 
df.dropna(thresh = len(df.columns) - 2)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

In [14]:
#Así como también podemos Hacer subset a partir de los CancellationCode que no tengan NaN
df.dropna(subset = ["CancellationCode"])

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999913,2008,2,11,1,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
999919,2008,2,17,7,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999961,2008,2,17,7,NaN,1445,NaN,1630,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999971,2008,2,22,5,NaN,1235,NaN,1415,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999999,2008,2,17,7,NaN,1655,NaN,2005,MQ,4695,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN

In [15]:
#O también dejar solo los datos que no tienen un ArrTime NaN. 
df.dropna(subset = ["ArrTime"])

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0
999995,2008,2,12,2,1648.0,1655,1959.0,2005,MQ,4695,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
999996,2008,2,13,3,1647.0,1655,2013.0,2005,MQ,4695,...,6.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
999997,2008,2,14,4,1653.0,1655,2000.0,2005,MQ,4695,...,3.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
999998,2008,2,15,5,1650.0,1655,1951.0,2005,MQ,4695,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN